.InputBoxAdmin{
    margin-left:5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width: 90%;
}

.ButtonAdmin{
    margin-left:70%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width: 25%;
}

.border{
    border:0.2em solid rgba(192, 187, 187, 0.5);
    /* height: auto; */
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
}